.grid-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
.grid-container {
  margin: 0px 20px 20px 20px;
}
.mat-form-field {
  margin-right: 8px;
}
.footer-fab-btn {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.add-btn {
  float: right;
  margin-right: 0 !important;
  margin-left: 10px;
  width: unset;
}
:host ::ng-deep th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  min-width: 135px;
}