<div class="container">
    <mat-toolbar class="secondry">
        <div class="center">
            <img [src]="configData.logoImg" width="140">
        </div>
    </mat-toolbar>
    <mat-toolbar class="primary">
    </mat-toolbar>
    <div style="display: flex;justify-content: center;">
        <div style="text-align:center;width:400px;margin-top:10px;">
            <div class="panel">
                <h2 class="heading-text">
                    <b>Forgot Password?</b>
                </h2>
                <h5>Enter User ID to reset the password </h5>
                <!-- <h5>Enter your registered Email Id</h5> -->
                <form class="resetForm" [formGroup]="resetForm" (ngSubmit)="!resetForm.invalid;onSave()">
                    <mat-form-field appearance="outline">
                        <mat-label class="font-style">User ID</mat-label>
                        <input [ngClass]="isUpdate? '': 'none'" matInput name="userName" formControlName="userName"
                            type="text" autocomplete="off" required>
                        <div *ngIf="!isUpdate" class="mat-input-wrapper mat-form-field-wrapper no-padding">
                            <span>{{resetForm.value.userName}}</span>
                        </div>
                        <mat-error *ngIf="resetForm.controls['userName'].hasError('required')">
                            User ID is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div *ngIf="isUpdate" class="btn-group">
                        <button mat-raised-button class="form-btn">Submit</button>
                    </div>
                </form>
                <div *ngIf="!isUpdate">
                    <h5>Enter the One Time Password sent to your {{otpDeliveryMethod}}</h5>
                    <form class="passwordResetForm" [formGroup]="passwordResetForm">
                        <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" class="font-style"
                            [config]="{length:6,allowNumbersOnly:true}"></ng-otp-input>
                        <mat-error *ngIf="otpInvalid " style="margin-top:0px" class="mat-validate">
                            Please enter a valid OTP
                        </mat-error>
                        <div>
                            <a (click)="resend()" style="display:inline-block;width:250px;text-align:right"
                                class="font-style" [ngClass]="!isTimerEnds? 'disabled': 'active'"><span>Resend code
                                </span>
                                <span *ngIf="!isTimerEnds" class="font-style"> in {{timerCount}} secs</span></a>
                        </div>
                        <mat-form-field appearance="outline">
                            <mat-label>New Password</mat-label>

                            <input formControlName="newPassword" matInput required autocomplete="off" class="mask"
                                pattern="{{pwdPattern}}">
                            <mat-error *ngIf="passwordResetForm.controls['newPassword'].hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="passwordResetForm?.get('newPassword')?.hasError('pattern')">
                                {{pwdRegexMsgValidation}}
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input formControlName="confirmPassword" id="confirmPassword" matInput required
                                autocomplete="off" [ngClass]="hide ? 'mask' : ''">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="passwordResetForm.controls['confirmPassword'].hasError('required')">
                                Confirm Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-error class="mat-validate"
                            *ngIf="passwordResetForm.errors?.['mismatch'] && passwordResetForm.controls['confirmPassword'].touched && passwordResetForm.controls['confirmPassword'].valid">
                            Password does not match
                        </mat-error>

                        <div class="btn-group">
                            <button mat-raised-button class="form-btn" (click)="onSubmit()">Submit</button>
                        </div>
                    </form>
                </div>
                <div style="margin-top: 10px;"><a class="anchor" (click)="onCancel()">
                        <mat-icon style="vertical-align: middle;margin-top: -2px;">keyboard_backspace</mat-icon>
                        Back to Login
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>