h2 {
    margin-top: 15px;
    font-family: "Mulish";
}

.overlay-panel {
    width: 35%;
    margin: 15px auto;
}

.disabled {
    pointer-events: none;
    color: grey;
}

.active {
    cursor: pointer;
    color: blue;
}

.mat-form-field-wrapper.no-padding {
    padding: 0;
    margin: 0;
    color: rgba(0, 0, 0, 0.38);
        font-family: 'Mulish';
}

.none {
    display: none;
}

.btn-group {
    margin: 0 auto;
    display: flex;
    text-align: left;
    width: 250px;
    justify-content: space-between;

}

button {
    width: 100%;
    margin-top: 8px;
    margin-right: 0 !important;

}

.anchor {
    color: #a0a0a0;
    cursor: pointer;
}

.panel {
    width: 100%;
    margin: 0 auto;
}

h5 {
    color: #a0a0a0;
    line-height: 1;
    font-family: "Mulish";
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    position: initial;
    margin-top: 3px;
    font-family: 'Mulish';
}

.mat-form-field {
    font-family: 'Mulish';
}