<div class="outer-layout">
    <div class="relative">
        <button mat-icon-button class="close-button noPrint" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <mat-card-header>
        <h3>Please add remarks</h3>
    </mat-card-header>
    <form [formGroup]="AppRej">
        <mat-form-field appearance="outline" style="padding-left:5%">
            <mat-label>Remark</mat-label>
            <textarea matInput name="remarks" placeholder="Enter Remarks" [(ngModel)]="remarks" required
                formControlName="remarks" cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" matTextareaAutosize
                required>{{remarks}}</textarea>
        </mat-form-field><br><br>
        <div style="text-align:right" *ngIf="this.bulkFileStatus !== 'APPROVED' && this.bulkFileStatus !== 'REJECTED'">
            <button mat-raised-button class="form-btn" style="background-color:green;color:white" mat-raised-button
                (click)="ApproveSelectedFile()">Approve</button>
            <button mat-raised-button class="form-btn" style="background-color:red;color:white" mat-raised-button
                (click)="RejectSelectedFile()">Reject</button>
        </div>
    </form>
</div>