<div class="outer-layout">
    <mat-card-header>
        <span style="display:flex;width:100%;">
            <mat-card-title style="width:inherit">Add RC Local</mat-card-title>
        </span>
    </mat-card-header>
    <form [formGroup]="addForm">
       <mat-form-field appearance="outline" class="font-style">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id" autocomplete="off" name="id">
        </mat-form-field>
        <mat-form-field appearance="outline" class="font-style">
            <mat-label>Destination</mat-label>
            <mat-select formControlName="local" required class="font-style">
                <mat-option value="DTSP">DTSP</mat-option>
                <mat-option value="PSO">PSO</mat-option>
                <mat-option value="APP">APP</mat-option>
                <mat-option value="SYS">SYS</mat-option>
                <mat-option value="BIG">BIG</mat-option>
            </mat-select>
            <mat-error *ngIf="addForm.controls['local'].hasError('required')">
                Please select atleast one destination
            </mat-error>
        </mat-form-field>
       <mat-form-field appearance="outline" class="font-style">
            <mat-label>RC</mat-label>
            <input matInput formControlName="resultCode" autocomplete="off" name="rc">
            <mat-error *ngIf="addForm.controls['resultCode'].hasError('required')">
                RC is required
            </mat-error>
            <mat-error *ngIf="addForm?.get('resultCode')?.hasError('pattern')">
                Please enter valid RC
            </mat-error>
        </mat-form-field>
       <mat-form-field appearance="outline" class="font-style">
            <mat-label>RC Message</mat-label>
            <input matInput formControlName="resultInfo" autocomplete="off" name="rcmessage">
            <mat-error *ngIf="addForm.controls['resultInfo'].hasError('required')">
                RC Message is required
            </mat-error>
        </mat-form-field>
        <div *checkRole="'manage-rc'">
            <button type="submit" mat-raised-button class="form-btn" (click)="submit()">Submit</button>
            <button type="cancel" mat-raised-button class="btn-cancel" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>