.grid-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .mat-form-field {
    margin-right: 8px;
  }
  .footer-fab-btn {
    position: fixed;
    bottom: 24px;
    right: 24px;
  }


  