
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Filter</mat-label>
      <input matInput >
    </mat-form-field>
  
  </form>
  


<div class="grid-container">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="blrid">
      <th mat-header-cell *matHeaderCellDef> BLR_ID</th>
      <td mat-cell *matCellDef="let element"> {{element.blrid}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="blrname">
      <th mat-header-cell *matHeaderCellDef> BLR_NAME </th>
      <td mat-cell *matCellDef="let element"> {{element.blrname}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> BLR_ALIAS_NAME</th>
      <td mat-cell *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container matColumnDef="blrlinkedou">
        <th mat-header-cell *matHeaderCellDef> BLR_CATEGORY_NAME </th>
        <td mat-cell *matCellDef="let element"> {{element.blrlinkedou}} </td>
      </ng-container>


       <ng-container matColumnDef="isprtblr">
        <th mat-header-cell *matHeaderCellDef> BLR_LINKED_OU</th>
        <td mat-cell *matCellDef="let element"> {{element.isprtblr}} </td>
      </ng-container>



      <ng-container matColumnDef="blrmode">
        <th mat-header-cell *matHeaderCellDef> IS_PARENT_BLR</th>
        <td mat-cell *matCellDef="let element"> {{element.blrmode}} </td>
      </ng-container>

      <ng-container matColumnDef="blracptadhoc">
        <th mat-header-cell *matHeaderCellDef> IS_PARENT_BLR</th>
        <td mat-cell *matCellDef="let element"> {{element.blracptadhoc}} </td>
      </ng-container>

      <ng-container matColumnDef="blrowener">
        <th mat-header-cell *matHeaderCellDef> IS_PARENT_BLR</th>
        <td mat-cell *matCellDef="let element"> {{element.blrowener}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="pranjal">
        <th mat-header-cell *matHeaderCellDef> IS_PARENT_BLR</th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>  -->
 




      
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  </div>
  
  
  


