<div class="grid-container ">
    <mat-expansion-panel [expanded]="panelOpen">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-style">
          <h2>Biller Search</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br>
      <form [formGroup]="searchForm">

        <!-- <mat-form-field appearance="outline">
          <mat-label>Biller Id</mat-label>
          <input matInput formControlName="walletAddress" autocomplete="off" name="walletAddress">
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>Biller Mobile</mat-label>
          <input matInput name="mobile" autocomplete="off" OnlyNumber formControlName="mobile"
            pattern="^[6|7|8|9][0-9]{9}$" maxlength="10">
          <mat-error *ngIf="searchForm?.get('mobile')?.hasError('pattern')">
            Please enter valid Mobile Number
          </mat-error>
        </mat-form-field>
        

        
        <mat-form-field appearance="outline">
          <mat-label>Biller Name</mat-label>
          <input matInput formControlName="walletAddress" autocomplete="off" name="walletAddress">
        </mat-form-field>

       

      

        

        <!-- <mat-form-field appearance="outline" class="font-style">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="startdatepicker" [max]="today" readonly="true" formControlName="fromDate"
            autocomplete="off" name="fromDate" (dateChange)="dateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="startdatepicker"></mat-datepicker-toggle>
          <mat-datepicker #startdatepicker></mat-datepicker>
        </mat-form-field> -->






        
        <!-- <mat-form-field appearance="outline">
          <mat-label>Customer VPA</mat-label>
          <input matInput formControlName="vpa" autocomplete="off" name="vpa">
        </mat-form-field> -->
        <div>
          <button mat-raised-button class="form-btn" (click)="searchCustomer()">Search</button>
          <button type="reset" mat-raised-button class="btn-cancel" (click)="reset()">Reset</button>
        </div>
      </form>
    </mat-expansion-panel>
    <br>
    <div>
      <app-table *ngIf="showData" [dataSource]="dataSourceCustomer" [displayedColumns]="Columns" [searchGrid]="true">
      </app-table>
    </div>
  
  </div>