<div class="container">
  <div [ngClass]="{'overlay-panel2': LogedWithTempPassword == true, 'overlay-panel1': LogedWithTempPassword != true}">
    <mat-panel-title>
      <h2 class="font-style" style="text-decoration: underline; text-align: center;">Change Password</h2>
      <h5 class="font-style" *ngIf="LogedWithTempPassword" style="color: red;" class="theme-color">Please change the
        default password to
        continue </h5>
    </mat-panel-title>
    <form [formGroup]="addForm">
      <mat-form-field appearance="outline">
        <mat-label>Old Password</mat-label>
        <input id="oldPassword" matInput required autocomplete="off" formControlName="oldPassword"
          [ngClass]="oldPassword_hide ? 'mask' : ''">
        <button type="button" mat-icon-button matSuffix (click)="oldPassword_hide = !oldPassword_hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldPassword_hide">
          <mat-icon>{{oldPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="addForm.controls['oldPassword'].hasError('required')">
          Old Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input id="newPassword" matInput required autocomplete="off" formControlName="newPassword"
          [ngClass]="newPassword_hide ? 'mask' : ''" pattern="{{pwdPattern}}">
        <button type="button" mat-icon-button matSuffix (click)="newPassword_hide = !newPassword_hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPassword_hide">
          <mat-icon>{{newPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="addForm.controls['newPassword'].hasError('required')">
          New Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="addForm?.get('newPassword')?.hasError('pattern')">
          {{pwdRegexMsgValidation}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input id="confirmPassword" matInput required autocomplete="off" formControlName="confirmPassword"
          [ngClass]="confirmPassword_hide ? 'mask' : ''">
        <button type="button" mat-icon-button matSuffix (click)="confirmPassword_hide = !confirmPassword_hide"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPassword_hide">
          <mat-icon>{{confirmPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="addForm.controls['confirmPassword'].hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-error class="mat-validate" style="margin-top: -15px"
        *ngIf="addForm.errors?.['mismatch'] && addForm.controls['confirmPassword'].touched && addForm.controls['confirmPassword'].valid">
        Confirm Password does not match
      </mat-error>
    </form>
    <mat-dialog-actions class="font-style" [ngClass]="LogedWithTempPassword ? 'full-width' : 'dialog-action'">
      <button mat-button type="submit" class="form-btn" (click)="onSubmit()">Submit</button>
      <button *ngIf="!LogedWithTempPassword" mat-button class="btn-cancel" mat-dialog-close
        cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
  </div>
</div>