.grid-container .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.gridxBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
  margin-top: 15px;
}



.overlay-panel1 {
  width: 80%;
  margin: 15px auto;
}



.mat-form-field {
  font-size: 14px;
  width: 100%;
  font-family: 'Mulish';
}

.dialog-action {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlay-panel2 ::ng-deep .mat-form-field-wrapper,
.overlay-panel1 ::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

.mask {
  -webkit-text-security: disc;
  font-family: text-security-disc;
}

.form-btn {
  text-transform: capitalize;
}

mat-error {
  display: block;
  font-family: 'Mulish';
}

.full-width {
  display: block;

  button {
    width: 100%;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  position: initial;
  margin-top: 3px;
}

mat-error,
mat-hint {
  margin-top: 0px;
}