<div class="outer-layout">
    <mat-card>
        <mat-card-header>
            <span class="bulk-upload-alignment" style="display:flex;width:324%;margin-right:left;">
                <mat-card-title style="width:inherit" class="font-style">Manual Transaction Bulk Upload</mat-card-title>
            </span>
        </mat-card-header>
        <form [formGroup]="searchAllTxntypeForm">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Transaction Type </mat-label>
                    <mat-select formControlName="txnType">
                        <mat-option value="LOAD-UPI">LOAD-UPI</mat-option>
                        <mat-option value="LOAD-CBS">LOAD-CBS</mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchAllTxntypeForm.controls['txnType'].hasError('required')">
                        Transaction Type is required.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" *ngIf="searchAllTxntypeForm.get('txnType')?.value === 'LOAD-UPI'">
                    <mat-label>Sub Transaction Type </mat-label>
                    <mat-select formControlName="subTxnType">
                        <mat-option value="UPI-PAY">LOAD-UPI-DEBIT</mat-option>
                        <mat-option value="UPI-REV">LOAD-UPI-REVERSAL</mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchAllTxntypeForm.controls['subTxnType'].hasError('required')">
                        Sub Transaction Type is required.
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="searchAllTxntypeForm.get('txnType')?.value === 'LOAD-CBS'">
                    <mat-label>Sub Transaction Type </mat-label>
                    <mat-select formControlName="subTxnType">
                        <mat-option value="CBS-PAY">LOAD-CBS-DEBIT</mat-option>
                        <mat-option value="CBS-REV">LOAD-CBS-REVERSAL</mat-option>
                    </mat-select>
                    <mat-error *ngIf="searchAllTxntypeForm.controls['subTxnType'].hasError('required')">
                     Transaction Type is required.
                    </mat-error>
                </mat-form-field>
            </div>

        </form>
        <mat-card-content style="display: flex;justify-content: space-between;">
            <span>
                <input class="font-style" type="file" class="font-style" required autocomplete="off" name="fileName"
                    (change)=readFile($event) accept=".xlsx" />
                <button type="button" mat-raised-button class="form-btn" [disabled]="file==null"
                    (click)="upload()">Upload</button>
            </span>
        </mat-card-content>

    </mat-card>
    </div>
